@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* --------------------------------------------------------------------------------------------------------- */
/* ---                                                                                                   --- */
/* ---                                             typo                                                  --- */
/* ---                                                                                                   --- */
/* --------------------------------------------------------------------------------------------------------- */

.typo-tiny {
  @apply text-xs;
}

.typo-small {
  @apply text-sm;
}

.typo-body {
  @apply text-base;
}

.typo-subtitle {
  @apply text-lg font-bold;
}

.typo-title {
  @apply text-xl;
}

.bold {
  @apply font-bold ;
}
.medium{
  @apply font-medium;
}


/* --------------------------------------------------------------------------------------------------------- */
/* ---                                                                                                   --- */
/* ---                                             Modal                                                 --- */
/* ---                                                                                                   --- */
/* --------------------------------------------------------------------------------------------------------- */

/* modal
.modal-container-lg{
  @apply py-8 bg-white shadow-lg rounded-2xl;
  width: 25rem;
}
.modal-container-sm{
  @apply py-8 bg-white shadow-lg rounded-2xl;
  width: 20rem;
}
.modal-container-sm .modal-body{
  @apply py-0;
}
.modal-container-sm .modal-footer{
  @apply flex flex-row justify-end space-x-2 pt-9;
}



.modal-inner{
  @apply px-10;
}
.modal-header{
  @apply  pb-4 text-black typo-subtitle;
}
.modal-body{
  @apply py-10 space-y-6 text-gray-dark typo-body ;
}
.modal-footer{
  @apply pb-8 typo-subtitle ;
}
 */

/* --------------------------------------------------------------------------------------------------------- */
/* ---                                                                                                   --- */
/* ---                                             divider                                                 --- */
/* ---                                                                                                   --- */
/* --------------------------------------------------------------------------------------------------------- */
.divider-h{
  @apply w-full bg-gray-300;
  height: 1px;
}
.divider-v{
  @apply h-full bg-gray-300;
  width: 1px;
}


/* --------------------------------------------------------------------------------------------------------- */
/* ---                                                                                                   --- */
/* ---                                             Input                                                 --- */
/* ---                                                                                                   --- */
/* --------------------------------------------------------------------------------------------------------- */
.input{
  @apply box-border flex flex-row items-center w-full h-10 px-2 text-gray-400 border border-gray-300 rounded-lg cursor-pointer typo-small bg-gray-50;
}
.input.lg{
  @apply h-12 typo-subtitle medium px-3
}
.input.disabled{
  @apply text-gray-300 bg-gray-100 cursor-default select-none;
}
.input:focus-within{
  @apply text-gray-800 bg-white border-primary;
}
.input.success:focus-within{
  @apply border-success;
}
.input.negative:focus-within{
  @apply bg-red-100 border-negative text-negative;
}
:focus{
  outline: none;
}
.input-body{
  @apply flex flex-row items-center w-full;
}



/* --------------------------------------------------------------------------------------------------------- */
/* ---                                                                                                   --- */
/* ---                                             textarea                                              --- */
/* ---                                                                                                   --- */
/* --------------------------------------------------------------------------------------------------------- */

.textarea{
  @apply box-border h-32 px-5 py-5 text-gray-800 border border-gray-300 resize-none bg-gray-50 typo-small rounded-xl cursor-text;
}




/* --------------------------------------------------------------------------------------------------------- */
/* ---                                                                                                   --- */
/* ---                                             Button                                                 --- */
/* ---                                                                                                   --- */
/* --------------------------------------------------------------------------------------------------------- */

.btn {
  @apply box-border flex flex-row items-center justify-center h-10 px-4 space-x-1 text-gray-500 transition-all duration-200 border border-gray-300 rounded-lg cursor-pointer select-none typo-small bg-gray-50 ;
  /* @apply max-w-max; */
}
.btn:hover{
  @apply bg-gray-200;
}
.btn:active{
  @apply bg-gray-300;
}
.btn svg{
  @apply py-2.5;
}
.btn.disabled{
  @apply text-gray-300 bg-gray-50;
}
.btn.lg{
  @apply h-12 px-6 space-x-2 typo-subtitle;
}
.btn.lg svg{
  @apply py-3;
}
.btn.sm{
  @apply h-8 px-3 space-x-1 typo-tiny;
}
.btn.sm svg{
  @apply py-2;
}
.btn.full {
  @apply w-full;
}
.btn.negative:hover{
  @apply bg-red-100 border-negative text-negative; 
}
.btn.negative:active{
  @apply bg-red-200;
}
.btn.primary{
  @apply bg-blue-100 border-primary text-primary;
}
.btn.primary.disabled{
  @apply text-blue-400 bg-blue-100 border-blue-400;
}
.btn.primary:hover{
  @apply bg-blue-200 border-primary text-primary;
}
.btn.primary:active{
  @apply bg-blue-300;
}
.btn.solid{
  @apply text-white border-0 bg-primary;
}
.btn.solid:hover{
  @apply bg-blue-700;
}
.btn.solid:active{
  @apply bg-blue-800;
}
.btn.ghost{
  @apply text-gray-500 bg-white bg-opacity-0 border-0;
}
.btn.ghost.disabled{
  @apply text-gray-300 bg-gray-50;
}
.btn.ghost:hover{
  @apply bg-gray-100;
}
.btn.ghost:active{
  @apply bg-gray-200;
}

/* --------------------------------------------------------------------------------------------------------- */
/* ---                                                                                                   --- */
/* ---                                             info-link                                             --- */
/* ---                                                                                                   --- */
/* --------------------------------------------------------------------------------------------------------- */

.info-link{
  @apply underline typo-body;
}
.info-link.lg{
  @apply typo-subtitle medium;
}
.info-link.sm{
  @apply typo-small;
}


/* --------------------------------------------------------------------------------------------------------- */
/* ---                                                                                                   --- */
/* ---                                             Modal                                                 --- */
/* ---                                                                                                   --- */
/* --------------------------------------------------------------------------------------------------------- */

/* -- nav -- */
.nav{
  @apply flex flex-col h-screen bg-white;
  min-width: 240px;
}
.modal .nav{
  min-width: 240px;
}
.nav-header{
  @apply flex items-center h-16 px-5 text-gray-600 transition-all duration-200 cursor-pointer select-none typo-body;
  /* border-bottom: 1px solid #D4D4D8; */
}
.nav-header:hover{
  @apply bg-gray-100;
}
.nav-header:active{
  @apply bg-gray-200;
}
.nav-section{
  @apply px-4 mt-4 mb-1 text-gray-500 typo-small;
}
.nav-footer{
  @apply flex items-center h-16 px-5 text-gray-600 cursor-pointer select-none typo-body;
  border-top: 1px solid #D4D4D8;
}
.nav-footer:hover{
  @apply bg-gray-100;
}
.nav-footer:active{
  @apply bg-gray-200;
}
.nav-item{
  @apply flex flex-row items-center h-10 px-5 cursor-pointer select-none;
  
}
.nav-item:hover{
  @apply bg-gray-100 ;
}
.nav-item:active{
  @apply bg-gray-200 ;
}
.nav-item-icon{
  @apply mr-2 text-gray-600 fill-current;
}

.nav-item-text{
  @apply text-gray-600 typo-body;
}


/* -- modal -- */

.modal{
  @apply flex flex-row overflow-hidden bg-white border shadow-lg rounded-xl;
  width: 1000px;
}
.modal.sm{
  @apply py-8 w-96;
}
.modal-body{
  @apply flex flex-col w-full bg-gray-100 ;
  
}
.modal.sm > .modal-body{
  @apply bg-white;
}
.modal-body-header{
  @apply px-10 my-10 font-black typo-title;
}
.modal.sm  .modal-body-header{
  @apply px-10;
}
/* .modal-body-divider{
  @apply mx-auto bg-gray-300;
  width: 90%;
  height: 1px;
} */
.modal-body-title{
  @apply px-16 mb-4 text-gray-800 typo-subtitle;
}
.modal.sm  .modal-body-title{
  @apply px-10;
}
.modal-body-sub-title{
  @apply px-16 text-gray-600 typo-body;
}
.modal.sm .modal-body-sub-title{
  @apply px-10;
}
.modal-body-footer{
  @apply flex justify-end px-16 mt-10 space-x-3;
}
.modal.sm .modal-body-footer{
  @apply px-10;
}

/* --------------------------------------------------------------------------------------------------------- */
/* ---                                                                                                   --- */
/* ---                                             dropdown                                              --- */
/* ---                                                                                                   --- */
/* --------------------------------------------------------------------------------------------------------- */

.dropdown{
  @apply flex flex-col overflow-hidden shadow-lg rounded-xl bg-gray-50;
}
.dropdown-item{
  @apply flex flex-row items-center px-5 py-3 cursor-pointer select-none place-content-between;
}
.dropdown-item:hover{
  @apply bg-gray-200;
}
/* new class name-dropdown-item-title(자식들도 같이 바뀜) */
.dropdown-item-title{
  @apply flex items-center w-full space-x-2;
}
.dropdown-item-title-icon{
  @apply text-gray-600 fill-current;
}
.dropdown-item-title-text{
  @apply text-gray-800 typo-body;
}
.dropdown-item-subtext{
  @apply text-gray-400 typo-tiny;
}
.dropdown-divider{
  @apply w-full mx-auto bg-gray-300;
  height: 1px;
}
.dropdown-item-form{
  @apply flex flex-row flex-grow-0 w-full px-5 py-5 space-x-2 place-content-between;
}

/* --------------------------------------------------------------------------------------------------------- */
/* ---                                                                                                   --- */
/* ---                                             card                                                  --- */
/* ---                                                                                                   --- */
/* --------------------------------------------------------------------------------------------------------- */

.card{
  @apply flex flex-row overflow-hidden bg-white shadow-lg rounded-xl ;
}
.card.col{
  @apply flex-col ;
}
.card-image{
  @apply w-36 h-36;
}
.card.col .card-image{
  @apply w-full;
}
.card-body{
  @apply flex flex-col mt-5;
}
.card-body-title{
  @apply px-5 mb-2 text-black typo-body bold;
}
.card-body-text{
  @apply px-5 text-gray-500 typo-small;
}

/* --------------------------------------------------------------------------------------------------------- */
/* ---                                                                                                   --- */
/* ---                                             toggle                                                  --- */
/* ---                                                                                                   --- */
/* --------------------------------------------------------------------------------------------------------- */
input.toggle[type=checkbox]{
  @apply hidden w-0 h-0;
}

label.toggle {
  @apply relative block w-20 h-10 bg-gray-500 rounded-full cursor-pointer;
}

label:after {
  @apply absolute w-8 h-8 bg-white rounded-full top-1 left-1;
	content: '';
	transition: 0.3s;
}

input:checked + label.toggle {
  @apply bg-primary;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
  @apply w-10;
}